{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emptycart</title>
    <style>
        img{
            margin: 50px;
            margin-left: 450px;
            height: 500px;
            width: 500px;
        }
        button{
                width: 80px;
                height: 30px;
                border-radius: 5px;
                box-shadow: 2px 2px 1px 2px rgb(20, 20, 20);
                background-color: rgb(232, 219, 202);
            
        }
        a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <img src="{% static 'images/emptycart.jpg' %}" alt="">
    <a href="{% url 'home' %}">Go Back To Home Page</a>

</body>
</html>