<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #con{
            height: 50px;
            width: 200px;
            border-radius: 5px;
            background-color: antiquewhite;
            box-shadow: black 1px 1px 2px 1px;
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
<h2>Provide Your Order Details</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Place Order">

    <a href="{% url 'detail' %}" id="con">Place Order</a>
</form>

</body>
</html>